* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero {
    /* Why should we use position relative in this case? */
    /* Position static looks the same! */
    /* position: relative; */
    height: 60vh;
    background: center url("Space_Transportation.jpg");
    background-size: cover;
}

#hero-img {
    position: absolute;
    right: 0;
    top: 25%;
    width: 20%;
    transition: transform 0.5s, opacity 0.5s;
}

#hero:hover #hero-img {
    transform: scale(0.30) translate(-150%, -150%) rotate(5turn);
    opacity: 0;
}

main {
    width: 90vw;
    margin: auto;
    background-color: thistle;
}